/* Genreated by gen-min-color.py */
:root {
  --color-accent-emphasis:#0969da;
  --color-accent-fg:#0969da;
  --color-attention-emphasis:#bf8700;
  --color-attention-fg:#9a6700;
  --color-border-default:#d0d7de;
  --color-border-muted:#d8dee4;
  --color-border-subtle:rgba(27,31,36,0.15);
  --color-canvas-overlay:#fff;
  --color-canvas-subtle:#f6f8fa;
  --color-danger-emphasis:#cf222e;
  --color-danger-fg:#cf222e;
  --color-diffstat-addition-bg:#2da44e;
  --color-done-emphasis:#8250df;
  --color-fg-default:#24292f;
  --color-fg-muted:#57606a;
  --color-fg-on-emphasis:#fff;
  --color-neutral-emphasis:#6e7781;
  --color-neutral-emphasis-plus:#24292f;
  --color-neutral-muted:rgba(175,184,193,0.2);
  --color-neutral-subtle:rgba(234,238,242,0.5);
  --color-primer-canvas-backdrop:rgba(27,31,36,0.5);
  --color-select-menu-backdrop-border:transparent;
  --color-select-menu-tap-focus-bg:#b6e3ff;
  --color-select-menu-tap-highlight:rgba(175,184,193,0.5);
  --color-shadow-large:0 8px 24px rgba(140,149,159,0.2);
  --color-success-emphasis:#2da44e;
  --color-success-fg:#1a7f37;
}
