/* Genreated by gen-min-color.py */
:root {
  --color-bg-canvas:#fff;
  --color-bg-overlay:#fff;
  --color-bg-secondary:#fafbfc;
  --color-bg-tertiary:#f6f8fa;
  --color-border-primary:#e1e4e8;
  --color-counter-bg:rgba(209,213,218,0.5);
  --color-counter-primary-bg:#6a737d;
  --color-counter-primary-text:#fff;
  --color-counter-secondary-text:#6a737d;
  --color-counter-text:#24292e;
  --color-diffstat-addition-bg:#28a745;
  --color-diffstat-addition-border:#28a745;
  --color-diffstat-deletion-bg:#d73a49;
  --color-diffstat-deletion-border:#d73a49;
  --color-diffstat-neutral-bg:#d1d5da;
  --color-diffstat-neutral-border:#d1d5da;
  --color-fade-black-50:rgba(27,31,35,0.5);
  --color-icon-tertiary:#959da5;
  --color-label-border:#e1e4e8;
  --color-label-danger-border:#cb2431;
  --color-label-danger-text:#d73a49;
  --color-label-info-border:#0366d6;
  --color-label-info-text:#0366d6;
  --color-label-primary-border:#6a737d;
  --color-label-primary-text:#24292e;
  --color-label-secondary-border:#e1e4e8;
  --color-label-secondary-text:#586069;
  --color-label-success-border:#28a745;
  --color-label-success-text:#22863a;
  --color-label-warning-border:#b08800;
  --color-label-warning-text:#735c0f;
  --color-pr-state-closed-bg:#d73a49;
  --color-pr-state-closed-border:transparent;
  --color-pr-state-closed-text:#fff;
  --color-pr-state-draft-bg:#6a737d;
  --color-pr-state-draft-border:transparent;
  --color-pr-state-draft-text:#fff;
  --color-pr-state-merged-bg:#6f42c1;
  --color-pr-state-merged-border:transparent;
  --color-pr-state-merged-text:#fff;
  --color-pr-state-open-bg:#28a745;
  --color-pr-state-open-border:transparent;
  --color-pr-state-open-text:#fff;
  --color-select-menu-backdrop-bg:rgba(27,31,35,0.5);
  --color-select-menu-backdrop-border:transparent;
  --color-select-menu-border-secondary:#eaecef;
  --color-select-menu-shadow:0 0 18px rgba(27,31,35,0.4);
  --color-select-menu-tap-focus-bg:#dbedff;
  --color-select-menu-tap-highlight:rgba(209,213,218,0.5);
  --color-shadow-large:0 8px 24px rgba(149,157,165,0.2);
  --color-state-hover-secondary-bg:#f6f8fa;
  --color-text-disabled:#959da5;
  --color-text-primary:#24292e;
  --color-text-secondary:#586069;
  --color-text-tertiary:#6a737d;
  --color-tooltip-bg:#24292e;
  --color-tooltip-text:#fff;
}
