{% if page.publist_enabled or post.publist_enabled %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
<script src="/{{ config.publist.assets_prefix }}publist.js"></script>
{% endif %}
