{% if page.publist_enabled or post.publist_enabled %}
<link href="https://unpkg.com/@primer/css/dist/tooltips.css" rel="stylesheet" />
<link rel="stylesheet" href="/{{ config.publist.assets_prefix }}publist.css">
{% endif %}
