{% if page.publist or post.publist %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/Primer/15.2.0/tooltips.min.css" rel="stylesheet" />
<link href="/{{ config.publist.assets_prefix }}publist.css" rel="stylesheet" />
{% endif %}
