{% if page.publist_enabled or post.publist_enabled %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jBox/0.4.9/jBox.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jBox/0.4.9/themes/TooltipDark.min.css">
<link rel="stylesheet" href="/{{ config.publist.assets_prefix }}/publist.css">
{% endif %}
