{%- macro checkmark() -%}
<svg class="SelectMenu-icon SelectMenu-icon--check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.78 4.22C13.9204 4.36062 13.9993 4.55125 13.9993 4.75C13.9993 4.94875 13.9204 5.13937 13.78 5.28L6.53 12.53C6.38937 12.6704 6.19875 12.7493 6 12.7493C5.80125 12.7493 5.61062 12.6704 5.47 12.53L2.22 9.28C2.08752 9.13782 2.0154 8.94978 2.01882 8.75547C2.02225 8.56117 2.10096 8.37579 2.23838 8.23837C2.37579 8.10096 2.56118 8.02225 2.75548 8.01882C2.94978 8.01539 3.13782 8.08752 3.28 8.22L6 10.94L12.72 4.22C12.8606 4.07955 13.0512 4.00066 13.25 4.00066C13.4487 4.00066 13.6394 4.07955 13.78 4.22Z"></path></svg>
{%- endmacro -%}

{%- macro genSelect(id, name, choices) -%}
        <details class="details-reset details-overlay" data-select-for="{{ id }}">
            <summary class="btn" aria-haspopup="true">
                <span>
                    {{ name }}:
                    <span class="summary-value"></span>
                </span>
                <span class="dropdown-caret"></span>
            </summary>
            <div class="SelectMenu">
                <div class="SelectMenu-modal">
                    <div class="SelectMenu-list SelectMenu-list--borderless">
                        {% for cat, values in choices | dictsort -%}
                        {%- if values.length > 0 -%}
                        {%- if cat.length > 0 -%}
                        <div class="SelectMenu-divider" role="menuitem" data-value="@{{ cat }}">
                            {{ checkmark() }}
                            {{ cat }}
                        </div>
                        {%- endif %}
                        {%- for choice in values %}
                        <button class="SelectMenu-item" role="menuitem"
                            data-value-cat="@{{ cat }}"
                            data-value="{{ choice.value }}"
                        >
                            {{ checkmark() }}
                            <span class="display-value">{{ choice.display | default(choice.value) }}</span>
                            <span class="Counter">{{ choice.count }}</span>
                        </button>
                        {%- endfor -%}
                        {%- endif -%}
                        {%- endfor %}
                    </div>
                </div>
            </div>
        </details>
{%- endmacro -%}

<style type="text/css">
    .fouc-fix { display:none; }
</style>
<link href="{{ opts.assets_prefix }}main.css" rel="stylesheet" />
<div class="publist fouc-fix">
    <div class="publist-search-panel">
        <div class="publist-filters-header">
            <div class="publist-filters-header-hwrapper">
                <h4>Filters:</h4>
            </div>
            <footer>(<a title="Reset Filters" href="#">
                <span class="selected-value">{{pubs.length}}</span>/{{pubs.length}}
            </a>)</footer>
        </div>
        <div class="publist-filters-row">
            {% for fspec in fspecs -%}
            {{ genSelect(fspec.id, fspec.name, fspec.choices) }}
            {%- endfor %}
        </div>
    </div> <!-- publist-search-panel -->
    <div class="pub-list">
    {%- set year = '' -%}
    {%- for pub in pubs -%}
    {%- if pub.year !== year -%}
        {%- if year !== '' %}
            </ul>
        </section>
        {%- endif -%}
        {%- set year = pub.year %}
        <section class="year">
            <div class="year-mark-wrapper">
                <span class="year-mark" data-year="{{ year }}"></span>
            </div>
            <ul>
    {%- endif -%}
                {#- A single block for a paper #}
                <li data-pub-venue="{{ pub.conf.venue }}"
                    data-pub-cat="{{ pub.conf.cat }}"
                    data-pub-extra='{{pub.extra_json_escaped}}'
                >
                    <div class="pub-block">
                        <div class="pub-title">
                            {# use first link as title link if possible #}
                            {%- if pub.links.length > 0 -%}
                                <a target="_blank" href="{{ pub.links[0].href }}">{{ pub.title }}</a>
                            {%- else -%}
                                {{ pub.title }}
                            {%- endif %}
                            {% if pub.date.isAfter(moment().subtract(opts.new_month, 'months')) -%}
                                <span class="Label Label--info">New</span>
                            {%- endif %}
                        </div>
                        {% if pub.badges.length > 0 -%}
                        <div class="pub-badges">
                            {%- for badge in pub.badges %}
                            <span class="Label Label--danger pub-badge">{{ badge }}</span>
                            {%- endfor %}
                        </div>
                        {%- endif %}
                        <div class="pub-authors">
                            {%- set comma = joiner(", ") -%}
                            {%- for author in pub.authors -%}
                                {%- set hlcls = "pub-highlight" if instOpts.highlight_authors.has(author) else "" -%}
                                {%- set authorcls = "pub-author-" + author.replace(' ', '-') -%}
                                {{- comma() -}}
                                {%- if loop.last and not loop.first %}and {% endif %}
                            <span class="pub-author {{ authorcls }} {{ hlcls }}">
                                {{- author | replace(' ', '&nbsp') | safe -}}
                            </span>
                            {%- endfor %}
                        </div>
                        {% if pub.conf -%}
                        <div class="pub-conference">
                            {{ pub.conf.name }}
                            (<a target="_blank" title="{{ pub.conf.acceptance }}"
                                href="{{ pub.conf.url }}">{{ pub.confkey }}</a>)
                            {% if pub.conf.acceptance -%}
                            <span class="pub-conference-acceptance">(Acceptance&nbspRate:&nbsp{{ pub.conf.acceptance }})</span>
                            {%- endif %}
                        </div>
                        {%- endif %}
                        <div class="pub-links">
                            {%- for link in pub.links %}
                            <a target="_blank" href="{{ link.href }}">[{{ link.name }}]</a>
                            {%- endfor %}
                            <a class="pub-link-bibtex" data-clipboard-text="{{ pub.bibStr }}">[bibtex]</a>
                            {% if pub.abstract.length > 0 -%}
                            <a class="pub-link-abstract">[abstract]</a>
                            {%- endif %}
                        </div>
                        {% if pub.abstract.length > 0 -%}
                        <div class="pub-abstract-frame">
                            <div class="pub-abstract">
                                <blockquote>
                                    {{- pub.abstract }}
                                </blockquote>
                            </div>
                        </div>
                        {%- endif %}
                    </div>
                </li>
    {%- endfor -%}
    {#- close last section #}
    {%- if year !== '' %}
            </ul>
        </section>
    {%- endif %}
    </div> <!-- pub-list -->
</div> <!-- publist -->

<script data-pjax src="{{ opts.assets_prefix }}main.js"></script>
